/* ------------- 
       Reset 
   ------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- 
       Header 
   ------------- */


.conteiner-header{
    background-color:#ff6900 ;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 8px 7px -1px rgba(0,0,0,0.48);
    
}
.age ul, .icon ul{
    display: flex;
    list-style-type: none;
    
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.logo{
    height: 30px;
    width: 130px;
}

/* ------------- 
       Main 
   ------------- */

   .conteiner-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 270px 50px 270px;
   }

   .box{
    position: relative;
    padding-bottom: 50px;
   }

   .box img{
    height: 650px;
    width: 450px;
   }

   .prezzo{
    display: flex;
   }

   .sconto{
    color: red;
    padding-right: 10px;
   }

   .intero{
    text-decoration: line-through;
   }

   .percentuale, .sostenibile{
    color: white;
    padding: 5px; 
    font-size: 17px;
   }

   .percentuale{
    background-color: red;
    position: absolute;
    bottom: 150px;
   }

   .sostenibile{
    background-color: green;
    position: absolute;
    bottom: 150px;
    left: 55px;
   }

   .cuore{
    background-color: white;
    padding: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 2.5;
    position: absolute;
    top: 10px;
    right: 0;

   }


